@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800,900&subset=latin-ext');

:root {
    --commonGray: rgb(60, 60, 62);
    --commonRed: rgb(255, 0, 40);
    --commonGreen: rgb(0, 233, 116);
    --commonSpace: 0.7rem;
}

.redLine {
    background-color: var(--commonRed);
    height: 1rem;
    margin: auto;
    width: 100%;
}

.centerVertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerHorizontal {
    margin: auto;
}

.form {
    background-color: var(--commonGray);
    padding: 2rem;
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formInput {
    display: flex;
    align-items: center;
}

.formInput>*+* {
    margin-left: var(--commonSpace);
}

.actionButton {
    height: 2rem;
    width: 8rem;
    border-radius: 1000rem;
    border: 0px solid transparent;
    color: white;
    font-size: medium;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textInput {
    background-color: var(--commonGray);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 2rem;
    flex-grow: 1;
    border-radius: 1000rem;
    border: 0px solid transparent;
    color: white;
}

.green {
    background-color: var(--commonGreen);
}

.red {
    background-color: var(--commonRed);
}

.gray {
    background-color: var(--commonGray);
}